<footer class=" footer" id="footer" style="padding: 1% 0" data-aos="fade-down" data-aos-easing="linear"
data-aos-duration="1500">
    <div class="container" style=" border-bottom: 1px solid white;max-width: 100%;padding: 5%">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 tittle">
                <div class="col" style="height:100%">
                    <div class="row" style="height:50%">
                        <div style="width: 30%;
                        text-align: end;">
                            <p>Complex
                                <br>
                                made
                                <br>
                                simple
                            </p>
                        </div>

                    </div>
                    <div class="row" style="height:50% ;   display: flex;
                    align-items: end;">
                        <img src="assets/image/logo-vass-blanco.png" style="height:2rem;width: auto;" alt="">

                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3 ">
                <p style="font-weight: 700;">Sitemap VASS</p>
                <li>
                    <p>Home</p>
                </li>
                <li>
                    <p>Casos éxito</p>
                </li>
                <li>
                    <p>Somos VASS</p>
                </li>
                <li>
                    <p>Impacto</p>
                </li>
                <li>
                    <p>Método</p>
                </li>
                <li>
                    <p>Tecnologías</p>
                </li>
                <li>
                    <p>Proyectos l+D+i</p>
                </li>
                <li>
                    <p>Insights</p>
                </li>
                <li>
                    <p>Noticias</p>
                </li>
                <li>
                    <p>Canal de denuncias</p>
                </li>
                <li>
                    <p>Contacto</p>
                </li>
            </div>
            <div class="col-12 col-md-6 col-lg-3 ">
                <p style="font-weight: 700;">Sitemap Talento</p>
                <li>
                    <p>Talento</p>
                </li>
                <li>
                    <p>#LifeVASS</p>
                </li>
                <li>
                    <p>Beneficios</p>
                </li>
                <li>
                    <p>Planes para ti</p>
                </li>
                <li>
                    <p>Proyectos</p>
                </li>
                <li>
                    <p>Smartworking</p>
                </li>
                <li>
                    <p>Ofertas</p>
                </li>
            </div>
            <div class="col-12 col-md-6 col-lg-3 ">
                <p style="font-weight: 700;">Empresa</p>
                <li>
                    <p>VASS</p>
                </li>
                <li>
                    <p>NATEEVO</p>
                </li>
                <li>
                    <p>Serbatic</p>
                </li>
                <li>
                    <p>vdSHOP</p>
                </li>

                <div class="col-md-2" style="height:50% ;   display: flex;
                 align-items: end;">
                <img src="assets/image/certificados.png" style="height:4rem;width: auto;" alt="">
                </div>

            </div>
        </div>
        

    </div>

    <div class="row" style="margin-top:4rem">
        <div class="col-md-4" style="display: flex;
        justify-content: center;
    ">
            <p>Copyright © 2023 Todos los derechos reservados</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <p>Memoria ambiental | Política de cookies | Política de privacidad | Política de calidad y medio
                    ambiente</p>

            </div>
        </div>
        <div class="col-md-2" style="display: flex;
        justify-content: center;">
            <i class="bi bi-twitter icon"></i>
            <i class="bi bi-linkedin icon"></i>
            <i class="bi bi-instagram icon"></i>
            <i class="bi bi-youtube icon"></i>
        </div>

    </div>
</footer>