<div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg header">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/image/logo-vass-blanco.png" alt="vass logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0  nav-bar-list">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Casos de éxito</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class=" nav-link active nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mercados
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">APP</a></li>
                            <li><a class="dropdown-item" href="#">BANCA</a></li>
                            <li><a class="dropdown-item" href="#">EU&E</a></li>
                            <li><a class="dropdown-item" href="#">INDUSTRIA</a></li>
                            <li><a class="dropdown-item" href="#">SEGUROS</a></li>
                            <li><a class="dropdown-item" href="#">TELCO & MEDIA</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class=" nav-link active nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Países
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">BNL</a></li>
                            <li><a class="dropdown-item" href="#">Chile</a></li>
                            <li><a class="dropdown-item" href="#">Colombia</a></li>
                            <li><a class="dropdown-item" href="#">Mexico</a></li>
                            <li><a class="dropdown-item" href="#">Perú</a></li>
                            <li><a class="dropdown-item" href="#">Uk</a></li>
                            <li><a class="dropdown-item" href="#">US</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class=" nav-link active nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Somos VASS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Equipo</a></li>
                            <li><a class="dropdown-item" href="#">Nosotros</a></li>
                            <li><a class="dropdown-item" href="#">Rsc</a></li>
                            <li><a class="dropdown-item" href="#">Directorio oficinas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class=" nav-link active nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Cómo lo hacemos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Insights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">VASS Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Es</a>
                    </li>

                </ul>
                <form class="nav-item">
                    <i class="bi bi-search icon p"></i>
                </form>
                <li class="nav-item" style="display: flex;">
                    <a class="nav-link active headres" aria-current="page" href="#">Talento</a>
                </li>
            </div>
        </div>
    </nav>
</div>



