.header {
    background-color: black;
}
.fondo img {
    height: 75vh;
    width: 100%;
    position: relative;
}

.text-1 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #1b1b1b;
    text-transform: uppercase;
}

.text-2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
}

.nav-bar-list {
    justify-content: end;
    display: flex;
    width: 100%;
    padding: 0 1.2%;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff59;
    color: white;
    margin: 5%;
}


textarea {
    background: transparent;
    border: none;
    border: 1px solid #ffffff59;
    color: white;
    margin: 5%;
}

input:hover,
input:focus {
    background: transparent !important;
    color: white;
}
textarea:hover,
textarea:focus {
    background: transparent !important;
    color: white;
}

.button-1 {
    width: 6rem;
    border: 1px solid white;
    height: 6rem;
    background: transparent;
    border-radius: 3rem;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.redes{
    i{
        margin: 1% 0;
    }
}