<app-header></app-header>
<div class="fondo col-12" data-aos="fade-up-right" data-aos-duration="1000">
    <img src="assets/image/fondo.png" class="img-fluid" alt="">
</div>
<div class="container" style="height:25vh" data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
    <div class="row" style="padding-top:3vh; padding-bottom:3vh;">
        <div class="col-lg-2 mt-5 text-1">
            EMPECEMOS A HACERLO SENCILLO
        </div>
        <div class="col-lg-10 mt-5 text-2">
            Nos emociona impulsar tu transformación
        </div>
    </div>
</div>

<div class="col-11 header" style="padding:4%; width: 100%;    border-bottom: 1px solid white;" data-aos="fade-left">
    <div class="row">
        <div class="col-md-4">
            <input autocomplete="off" type="text" class="form-control" id="validationCustom01" placeholder="Nombre y apellidos" required data-aos="fade-left">
        </div>
        <div class="col-md-4">
            <input autocomplete="off" type="text" class="form-control" id="validationCustom01" placeholder="Telefono" required required data-aos="fade-left">
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input autocomplete="off" type="text" class="form-control" id="validationCustom01" placeholder="Email" required required data-aos="fade-left">
        </div>
        <div class="col-md-4" style="    display: flex;
        align-items: end;
        color: white;
        padding-left: 3%;" required data-aos="fade-left">
           <label>Mensaje</label>
        </div>
        <div class="col-md-4" >

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input autocomplete="off" type="text" class="form-control" id="validationCustom01" placeholder="Empresa / Organismo" required required data-aos="fade-left">
        </div>
        <div class="col-md-4">
            <textarea class="form-control" id="exampleFormControlTextarea1"
            rows="3"></textarea>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input autocomplete="off"  type="text" class="form-control" id="validationCustom01" placeholder="País" required required data-aos="fade-left">
        </div>
        <div class="col-md-4" style="display: flex;justify-content: end;" data-aos="flip-left" data-aos-duration="3000">
            <button type="button" class="btn btn-dark button-1">Enviar</button>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
<app-footer></app-footer>